.Header {
  text-align: center;
  padding-bottom: 20px;
}

#label {
  color: red;
}

.InputSection {
  text-align: center;
  padding-bottom: 25px;
}

.InputText {
  text-align: center;
}

.OutputSection {
  text-align: center;
}

.SettingsSubsection {
  text-align: center;
}

.RotorSettings {
  text-align: center;
  padding: 5px;
}

.InitialPosition {
  text-align: center;
  padding: 5px;
}

.RingSettings {
  text-align: center;
  padding: 5px;
}

.ReflectorSettings {
  text-align: center;
  padding: 5px;
}

.UserInput {
  font-size: larger;
  font-weight: bold;
}

.Link {
  padding: 5px;
}
